<body>
    <form [formGroup]="user" (ngSubmit)="login()" class="border p-3 rounded-3">
    
    <div class="container">
        <div class="row g-0">
          <div class="row">
      <div class="col text-centre p-8 mb-4 bg-light">
        
        <span class="fs-4">Login</span>
      </div>
      </div>
    </div>
  
      <div class="col mb-3">
        <label for="emailID" class="form-label">EmailId</label>
              <input type="text" class="form-control" placeholder="emailID" id="emailID" formControlName="emailID">
              <div class="form-text text-danger"
            *ngIf="emailID.errors?.['required'] &&(emailID.touched||emailID.dirty)">
            *required
          </div>
          <div class="form-text text-danger" *ngIf="emailID.errors?.['email']&&(emailID.touched ||emailID.dirty)">
            *emailID invalid
          </div>
      </div>
        <div class="col mb-3">
          <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div class="form-text text-danger"
                *ngIf="password.errors?.['required'] &&(password.touched||password.dirty)">
                *required
              </div>
              <div class="form-text form-danger" *ngIf="password.errors?.['pattern']&&(password.touched ||password.dirty)">
                *password invalid
              </div>
            </div>
      </div>
      <div class ="row">
        <div class="col-6 offset-3">
          <div class="d-grid">
            <button type="submit" [disabled]="user.invalid" class="btn btn-primary">Login</button>
           
          </div>
        </div>
      </div>
      
   
  </form>
  </body>
  



<!-- <button class='btn btn-primary' type="button" (click)="login()"> Login</button> -->
